<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>

<body>
    <div style="float:right; margin-top: 10px;">
        <a href="/orders" style="text-decoration:none;">
            <button style="background-color:#4CAF50;color:white;padding:10px 20px;margin-right:10px;border:none;border-radius:5px;cursor:pointer;font-size:16px;">
                &#128179; ЗАКАЗЫ
            </button>
        </a>
        <a href="/cart/items" style="text-decoration:none;">
            <button style="background-color:#2196F3;color:white;padding:10px 20px;margin-right:10px;border:none;border-radius:5px;cursor:pointer;font-size:16px;">
                &#128722; КОРЗИНА
            </button>
        </a>
        <a href="/main/items" style="text-decoration:none;">
            <button style="background-color:#FF9800;color:white;padding:10px 20px;border:none;border-radius:5px;cursor:pointer;font-size:16px;">
                &#127968; ГЛАВНАЯ
            </button>
        </a>
    </div>
    <h1 style="text-align:center" th:if="${newOrder}">Поздравляем! Успешная покупка! &#128578;</h1>
    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <h2 th:text="${'Заказ №'+order.id}"></h2>
            </td>
        </tr>
        <tr th:each="item : ${order.items}">
            <td>
                <table>
                    <tr>
                        <td>
                            <a th:href="${'/items/'+item.item.id}">
                                <img width="300" height="300" th:src="${'http://localhost:8080/'+item.item.imgPath}">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b th:text="${item.item.title}"></b>
                        </td>
                        <td>
                            <b th:text="${item.quantity}+' шт.'"></b>
                        </td>
                        <td>
                            <b th:text="${item.price*item.quantity}+' руб.'"></b>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <h3 th:text="${'Сумма: '+order.totalSum}+' руб.'"></h3>
            </td>
        </tr>
    </table>
</body>

</html>